.head{
	font-family: Georgia, serif;
	text-align:center;
	margin-top:10px;
	line-height: 1em;
	color: #eb6c67;
	font-weight:bold;
	font-size: 55px;
	text-shadow:0px 0px 0 rgb(211,84,79),1px 1px 0 rgb(196,69,64),2px 2px 0 rgb(182,55,50),3px 3px 0 rgb(167,40,35),4px 4px 0 rgb(153,26,21),5px 5px 0 rgb(138,11,6), 6px 6px 0 rgb(124,-3,-8),7px 7px 6px rgba(0,0,0,0.6),7px 7px 1px rgba(0,0,0,0.5),0px 0px 6px rgba(0,0,0,.2);
}

.credits {
	text-align: center;
	font-size: 20px;
}

.right {
	text-align: right;
}